.home-page__title {
  margin: 10px 0 0;
}

.home-page__inputs {
  margin-top: 70px;
  text-align: center;
}

.home-page__range {
  margin: 0 auto 10px;
  width: 56%;
  max-width: 200px;
}

.home-page__tip-suggestion {
  display: block;
  margin: 40px auto 0;
}

.home-page__mood-assessment {

}

.home-page__mood-rating {
  font-size: 130px;
  text-align: center;
}

.home-page__mood-good {
  color: $good-mood-color;
}

.home-page__mood-ok {
  color: $ok-mood-color;
}

.home-page__mood-bad {
  color: $bad-mood-color;
}

.home-page__mood-feedback {
  text-align: center;
}

.home-page__mood-feedback-buttons {
  margin-top: 20px;
}

.home-page__mood-correct {
  @include button($highlight-color);
  margin-right: 20px;
}

.home-page__mood-incorrect {
  @include button(#444);
}