.mood-incorrect {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.mood-incorrect__inputs {
  margin-top: 30px;
  text-align: center;
}

.mood-incorrect__input {
  display: inline-block;
  margin-right: 20px;
  font-size: 60px;
  text-align: center;
}

.mood-incorrect__input:last-child {
  margin-right: 0;
}

.mood-incorrect__input--good {
  color: $good-mood-color;
}

.mood-incorrect__input--ok {
  color: $ok-mood-color;
}

.mood-incorrect__input--bad {
  color: $bad-mood-color;
}